body{
    background-color: rgb(255, 233, 207);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

h1{

    padding: 5px;
    margin: 0px;

}
h2{
padding: 10px;
margin: 0px;
}
.headingcurse{
    font-style: italic;
}
.common{
background-color: rgba(139, 139, 139, 0.772);
border-color: rgba(255, 255, 255, 0.816);
border-style: solid;
border-width: 5px;
z-index: 1;
position: absolute;
}
.headshot{
    float: right;
    top: 110px;
    right: 5px;
    z-index: 2;
}
.header{
top: 5px;
left: 5px;
right: 5px;
height: 100px;
text-align: center;
}
.footer{
bottom: 5px;
left: 5px;
right: 5px;
height: 100px;
}
.right{
top: 515px;
right: 5px;
width: 268px;
}
.main{
    top: 110px;
    left: 5px;
    right: 278px;
    padding-left: 25px;
}
.footer{
    position: fixed;
    bottom: 5px;
    height: 15px;
    text-align: center;
    z-index: 2;
}
.b2t {
    text-align: center; /* Centers text inside this element */
    display: block; /* Forces the link to take up the full line */
    margin: 0 auto; /* Centers the block element */
}